In [7]:
import pandas as pd

df = pd.read_csv('Resources/rotten_tomatoes_movies.csv')
df.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,poster_image_url,rating,genre,directors,writers,cast,...,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count
0,/m/0814255,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",...,20th Century Fox,Rotten,49,144,Spilled,53.0,254287.0,38,71,73
1,/m/0878835,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,https://resizing.flixster.com/0AbudQ4KsB4BeXSB...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",...,Sony Pictures Classics,Certified Fresh,86,140,Upright,64.0,11567.0,43,121,19
2,/m/10,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,https://resizing.flixster.com/mF0dxH6UTa0FdkMs...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",...,Waner Bros.,Fresh,68,22,Spilled,53.0,14670.0,2,15,7
3,/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,https://resizing.flixster.com/u-8xAyGaDVvROLiR...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,Criterion Collection,Certified Fresh,100,51,Upright,97.0,105000.0,6,51,0
4,/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",https://resizing.flixster.com/FKExgYBHu07XLoil...,G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",...,Disney,Fresh,89,27,Upright,74.0,68860.0,5,24,3

In [48]:
#split cast members into columns
df1 = df[["cast"]]
df2 = df1.cast.str.split(', ', expand=True)
#Keep first five actors listed
df2 = df2[[0,1,2,3,4]]
df2 = df2.rename(columns={0: "first_actor", 1: "second_actor", 2: "third_actor", 3: "fourth_actor", 4: "fifth_actor"})
df2.head()

,first_actor,second_actor,third_actor,fourth_actor,fifth_actor
0,Logan Lerman,Brandon T. Jackson,Alexandra Daddario,Jake Abel,Sean Bean
1,Catherine Keener,Amanda Peet,Oliver Platt,Rebecca Hall,Sarah Steele
2,Dudley Moore,Bo Derek,Julie Andrews,Robert Webber,Dee Wallace
3,Martin Balsam,John Fiedler,Lee J. Cobb,E.G. Marshall,Jack Klugman
4,James Mason,Kirk Douglas,Paul Lukas,Peter Lorre,Robert J. Wilke

In [56]:
#split genres
df3 = df[["genre"]]
df4 = df3.genre.str.split(', ', expand=True)
#Keep first five actors listed
df4 = df4[[0,1,2]]
df4 = df4.rename(columns={0: "first_genre", 1: "second_genre", 2: "third_genre"})
df4.head()

          first_genre second_genre    third_genre
0  Action & Adventure       Comedy          Drama
1              Comedy         None           None
2              Comedy      Romance           None
3            Classics        Drama           None
4  Action & Adventure        Drama  Kids & Family

In [59]:
#drop original cast & genre columns

df = df.drop(['cast','genre'], axis=1)
df.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,poster_image_url,rating,directors,writers,in_theaters_date,on_streaming_date,...,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count
0,/m/0814255,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,Chris Columbus,Craig Titley,2010-02-12,2010-06-29,...,20th Century Fox,Rotten,49,144,Spilled,53.0,254287.0,38,71,73
1,/m/0878835,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,https://resizing.flixster.com/0AbudQ4KsB4BeXSB...,R,Nicole Holofcener,Nicole Holofcener,2010-04-30,2010-10-19,...,Sony Pictures Classics,Certified Fresh,86,140,Upright,64.0,11567.0,43,121,19
2,/m/10,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,https://resizing.flixster.com/mF0dxH6UTa0FdkMs...,R,Blake Edwards,Blake Edwards,1979-10-05,1997-08-27,...,Waner Bros.,Fresh,68,22,Spilled,53.0,14670.0,2,15,7
3,/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,https://resizing.flixster.com/u-8xAyGaDVvROLiR...,NR,Sidney Lumet,Reginald Rose,1957-04-13,2001-03-06,...,Criterion Collection,Certified Fresh,100,51,Upright,97.0,105000.0,6,51,0
4,/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",https://resizing.flixster.com/FKExgYBHu07XLoil...,G,Richard Fleischer,Earl Felton,1954-01-01,2003-05-20,...,Disney,Fresh,89,27,Upright,74.0,68860.0,5,24,3

In [60]:
#merge actors columns & genre columns

merged = pd.concat([df,df2,df4], axis=1, sort=False)
merged.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,poster_image_url,rating,directors,writers,in_theaters_date,on_streaming_date,...,audience_fresh_critics_count,audience_rotten_critics_count,first_actor,second_actor,third_actor,fourth_actor,fifth_actor,first_genre,second_genre,third_genre
0,/m/0814255,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,Chris Columbus,Craig Titley,2010-02-12,2010-06-29,...,71,73,Logan Lerman,Brandon T. Jackson,Alexandra Daddario,Jake Abel,Sean Bean,Action & Adventure,Comedy,Drama
1,/m/0878835,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,https://resizing.flixster.com/0AbudQ4KsB4BeXSB...,R,Nicole Holofcener,Nicole Holofcener,2010-04-30,2010-10-19,...,121,19,Catherine Keener,Amanda Peet,Oliver Platt,Rebecca Hall,Sarah Steele,Comedy,None,None
2,/m/10,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,https://resizing.flixster.com/mF0dxH6UTa0FdkMs...,R,Blake Edwards,Blake Edwards,1979-10-05,1997-08-27,...,15,7,Dudley Moore,Bo Derek,Julie Andrews,Robert Webber,Dee Wallace,Comedy,Romance,None
3,/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,https://resizing.flixster.com/u-8xAyGaDVvROLiR...,NR,Sidney Lumet,Reginald Rose,1957-04-13,2001-03-06,...,51,0,Martin Balsam,John Fiedler,Lee J. Cobb,E.G. Marshall,Jack Klugman,Classics,Drama,None
4,/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",https://resizing.flixster.com/FKExgYBHu07XLoil...,G,Richard Fleischer,Earl Felton,1954-01-01,2003-05-20,...,24,3,James Mason,Kirk Douglas,Paul Lukas,Peter Lorre,Robert J. Wilke,Action & Adventure,Drama,Kids & Family