In [21]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
movie_master_data = "../Resources/rotten-tomatoes-movies-and-critics-datasets/rotten_tomatoes_movies.csv"
movie_data = "../Resources/movie_metadata_adjusted_revenue.csv"
actor_data = "../Resources/actors.csv"

# Read the Data
movie_df = pd.read_csv(movie_data)
actor_df = pd.read_csv(actor_data)
movie_actor_df = pd.read_csv(movie_master_data)

# Display the data table for preview
movie_df.head(5)
#title

,Unnamed: 0,title,budget,popularity,release_date,revenue,runtime,vote_average,vote_count
0,0,The Godfather,6000000,41.109264,1972,"1,499,126,346.72",175,8.5,6024
1,1,The Shawshank Redemption,25000000,51.645403,1994,"48,899,552.11",142,8.5,8358
2,2,Fight Club,63000000,63.869599,1999,"154,791,744.55",139,8.3,9678
3,3,Schindler's List,22000000,41.725123,1993,"568,672,494.68",195,8.3,4436
4,4,One Flew Over the Cuckoo's Nest,3000000,35.529554,1975,"517,964,907.39",133,8.3,3001

In [22]:
actor_df.head(5) #actor

   Unnamed: 0              actor  score
0           0     Robert De Niro   1000
1           1     Jack Nicholson    999
2           2      Marlon Brando    998
3           3  Denzel Washington    997
4           4    Humphrey Bogart    996

In [23]:

movie_actor_df.drop_duplicates(inplace=True) #cast
#movie_actor_df.head(5)

In [24]:
final_list = []
found =0
for row_dex, row in movie_df.iterrows():
    accumulator = 0
    movie_cast = movie_actor_df.loc[movie_actor_df['movie_title'] == row['title'], ['cast']]
    movie_list = movie_cast['cast']
    for c_line in movie_list:
        cast_list = c_line.split(',')
        for person in cast_list:
            for row_dex2, row2 in actor_df.iterrows():
                if (row2['actor'] == person):
                    accumulator += 1

    final_list.append({"title" : row["title"],
                       "budget" : row["budget"],
                       "popularity" :row["popularity"],
                        "release_date" : row["release_date"],
                        "revenue" : row["revenue"],
                        "runtime" : row["runtime"],
                        "vote_average" : row["vote_average"],
                              "vote_count" : row["vote_count"],
                          "star_power" : accumulator})
    print(accumulator)
    #cast_list = movie_cast.split(',')

result_df = pd.DataFrame(final_list)

1
1
1

KeyboardInterrupt:

In [7]:
result_df.to_csv('Resources/movie_metadata_adjusted_revenue_starpower.csv')